<footer class="page-footer grey lighten-5 center">
  <div class="footer-copyright grey lighten-5 black-text">
    <div class="container grey-text">
      Developed and Maintained with <span class="red-text">♥</span> by
      <a href="https://www.linkedin.com/in/michaellarrubis/" target="_blank">Mikel</a>
    </div>
  </div>
</footer>