<div class="song-list">
  <div class="song-list__tag">
    <% song_list_sample.each do |item| %>
      <%= link_to "#", class: "song-item__tag white" do %>
        <div class="song-item__tag-content black-text">
          <div class="song-item__tag-color js-color"></div>
          <%= item["name"] %>
        </div>
      <% end %>
    <% end %>
    <div class="song-list__more">
      <%= link_to "See More...", "#", class: "grey-text" %>
    </div>
  </div>
</div>