<div class="song-search">
  <div class="card z-depth-0">
    <div class="card-content">
      <form class="row">
        <div class="input-field col s12">
          <input type="text" class="song-search__input">
        </div>
      </form>
    </div>
  </div>
</div>