<div class="song-search">
  <div class="card z-depth-0">
    <div class="card-content">
      <%= form_tag(songs_path, method: :get, class: "row") do %>
        <div class="input-field col s12">
          <%= text_field_tag(:search, params[:search], class: "song-search__input form__input", placeholder: "Mission Ready") %>
        </div>
      <% end %>
    </div>
  </div>
  <% if params[:search] %>
    <span class="song-search-result-total grey-text">Results Found: <%= @songs.size %></span>
  <% end %>
</div>