<% provide(:title, escape_special_character('Songs')) %>

<div class="library">
  <% if params[:search] %>
    <%= render "components/song-search" %>
  <% end %>

  <% if @songs %>
    <div class="library-list">
      <% @songs.each do |song| %>
        <%= link_to song, class: "library-item white" do %>
          <div class="library-item__content black-text">
            <div class="library-item__content-color js-color"></div>
            <p class="library-item__content-title black-text"><%= song.title %></p>
            <p class="library-item__content-editor grey-text"><%= song.artist %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>