<% provide(:title, format_text_title("CLP's")) %>

<% if @clps.count > 0 %>
  <div class="row">
    <% @clps.each do |clp| %>
      <div class="col s12 m4">
        <%= render partial: "components/clp-details", locals: { clp: clp } %>
      </div>
    <% end %>
  </div>
<% end %>