
<% if current_url.include?("edit") %>
  <%= link_to clp_clp_content_path(@clp, clp_content), class: "chip blue white-text" do %>
    Preview
  <% end %>
<% end %>

<div class="card z-depth-0">
  <div class="card-content">
    <%= form_with(model: [@clp, clp_content], local: true) do |form| %>

      <div class="input-field">
        <p>Talk Title</p>
        <%= form.text_field :talk_title, class: "form__input" %>
      </div>

      <div class="actions">
        <%= form.submit "Save", class: "btn btn-block z-depth-0" %>
      </div>
    <% end %>
  </div>
</div>