.clp-info {}
.clp-details {
  .card-title.clp-details--title {
    line-height: 20px !important;
    margin-bottom: 15px !important;
  }
}

.clp-songs {
  .collection-item {
    padding-left: 22px !important;
  }
}

.clp-data {
  margin: 30px auto;
}