.library {
  .song-search {
    margin: 50px auto 60px;
  }
}

.library-list {
  margin: 20px 0;
}

.library-item {
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-right: 12px;
  border-radius: 16px;
  display: block;

  &:hover {
    -webkit-box-shadow: 3px 7px 9px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 9px -11px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 9px -11px rgba(0,0,0,0.75);
  }
}

.library-item__content {
  display: flex;
  align-items: center;
  padding: 3px;

  p {
    padding: 0;
    margin: 0;
  }
}

.library-item__content-color {
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;

  &::before {
    content: "☧";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
  }
}

.library-item__content-title {
  @media (max-width: 768px) {
    text-align: center;
    margin: 0 auto !important;
  }
}

.library-item__content-editor {
  margin: 0 0 0 auto !important;

  @media (max-width: 768px) {
    display: none;
  }
}