.navbar-list {}
.navbar-item {
  &:hover {
    background-color: transparent !important;
  }
}

.navbar-link {
  &:hover {
    background-color: transparent;
    color: #64B5F6 !important;
  }
}

.navbar-dropdown {
  top: 66px !important;
  width: 200px !important;
  left: calc(100% - 200px) !important;
}