.song-list {
  margin: 20px 0;
  text-align: center;
}

.song-item__tag {
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  margin: 0 0 10px 5px;
  padding-right: 12px;
  border-radius: 16px;
  display: inline-block;

  &:hover {
    -webkit-box-shadow: 3px 7px 9px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 9px -11px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 9px -11px rgba(0,0,0,0.75);
  }
}

.song-item__tag-content {
  display: flex;
  align-items: center;
}

.song-item__tag-color {
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;

  &::before {
    content: "☧";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
  }
}

.song-list__more {
  margin-top: 15px;

  a {
    letter-spacing: 1.3px;
  }
}

.song-list__content-form {
  margin-top: 15px;
}

.song-list__content-item {
  position: relative !important;
  display: inline-block;

  span {
    margin-right: 15px;
    padding-left: 25px !important;
    line-height: 20px !important;

    label {
      font-size: 15px;
    }

    &:hover {
      cursor: pointer;
    }
  }

}