.song-search {
  margin: 100px auto 60px;

  .row {
    margin-bottom: 0;
  }

  .input-field {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    
    &::after {
      position: absolute;
      content: "☌";
      top: 50%;
      right: 8px;
      color: #9e9e9e;
      transform: translateY(-50%) rotate(90deg);
      font-size: 42px;
    }
  }

  .col {
    padding: 0 !important;
  }
}

.song-search__input {
  height: 3.5rem !important;
  border: 1px solid #9e9e9e !important;
  border-radius: 10px !important;
  margin-bottom: 0 !important;
  padding: 0 50px 0 10px !important;
  font-size: 20px !important;
  box-sizing: inherit !important;
  font-weight: 500 !important;

  &:focus {
    border: 1px solid #64B5F6 !important;
    box-shadow: none !important;
  }
}