.song-search {
  margin: 100px auto 60px;

  .row {
    margin-bottom: 0;
  }

  .input-field {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    
    &::after {
      position: absolute;
      content: "☌";
      top: 50%;
      right: 8px;
      color: #9e9e9e;
      transform: translateY(-50%) rotate(90deg);
      font-size: 42px;
    }
  }

  .col {
    padding: 0 !important;
  }
}